<div class="field field-left-label pkg">
  <div class="field-inner">
    <div class="field-header">
      <label for="idp_directory_index"><MT_TRANS phrase="Directory Index"></label>
    </div>
    <div class="field-content">
      <div class="textarea-wrapper">
        <input type="text" size="40" id="idp_directory_index" name="directory_index" value="<TMPL_VAR NAME=DIRECTORY_INDEX ESCAPE=HTML>" />
      </div>
      <p class="hint">
        <MT_TRANS phrase="Directory Index represents the file name which is used if a file name does not included in the requested URI. The default value of the directory index is index.html. You should only change this if you are using a different directory index such as index.htm.">
      </p>
    </div>
  </div>
</div>

<div class="field field-left-label pkg">
  <div class="field-inner">
    <div class="field-header">
      <label for="idp_cache_directory"><MT_TRANS phrase="Cache Directory"></label>
    </div>
    <div class="field-content">
      <div class="textarea-wrapper">
        <input type="text" size="40" id="idp_cache_directory" name="cache_directory" value="<TMPL_VAR NAME=CACHE_DIRECTORY ESCAPE=HTML>" />
      </div>
      <p class="hint">
        <MT_TRANS phrase="ITEMAN Dynamic Publishing caches of the result of a query to the database for performance. A cache file will be written to the directory specified by Cache Directory. The default value of Cache Directory dpends on the platform.">
      </p>
    </div>
    <div class="field-content">
      <input type="hidden" name="clear_caches" value="false" />
      <button onclick="this.form.clear_caches.value = 'true'; this.form.submit(); return false;" type="submit" mt:mode="save_plugin_config"><MT_TRANS phrase="Clear Caches"></button>
    </div>
  </div>
</div>
