<div class="field field-left-label pkg">
  <div class="field-inner">
    <div class="field-header">
      <label for="idp_directory_index"><MT_TRANS phrase="Directory Index"></label>
    </div>
    <div class="field-content">
      <div class="textarea-wrapper">
        <input type="text" size="15" id="idp_directory_index" name="directory_index" value="<TMPL_VAR NAME=DIRECTORY_INDEX ESCAPE=HTML>" />
      </div>
      <p class="hint">
        <MT_TRANS phrase="Directory Index represents the file name which is used if a file name does not included in the requested URI. The default value of the directory index is index.html. You should only change this if you are using a different directory index such as index.htm.">
      </p>
    </div>
  </div>
</div>
